.trip_box{
    border: 2px solid blue;
    margin: 10px;
   
}

h1{
    color :rgb(65, 27, 103);
    
}

p,a {
    color :rgb(181, 93, 225);
    font-weight: bold;
    text-align: center;

}

.atag{
   
    text-align: center;
}