<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>01__goddess</h1> 
    <div class="trip_box">
        <p>부산여행</p>
        <p>속초여행</p>
        <p>강릉여행</p>
        <p>포항여행</p>
        <p>인천여행</p>
    </div>
      
<style>
    p{
        color :blueviolet;
        font-weight: bold;
        text-align: center;
    }
    .trip_box{
        border: 2px solid blue;
        margin: 10px;
    }
</style>

</body>
</html>
