
.header{
text-align : center;
}
.content{
font-weight: 400px;
text-align : center;
margin-right : 10%;
margin-left : 10%;
margin-top: 4%;
margin-bottom : 10%;
border: 1px solid gray
}

.cube { text-decoration: none;}

p{color: rgb(255, 123, 0);}
