{% extends 'base.html' %}

{% load static%}
{% block content %}

<link rel="stylesheet" href="show.css">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src= "{% static 'images/logo.png'%}" width="30" height="24" class="d-inline-block align-text-top">
            자기소개페이지
          </a>
        </div>
      </nav>

    <main>
    <div class="header">
        <h1>장여신</h1>
        <a>안녕하세요!</a>
    </div>
    
    <div class="content">
        <p>생년월일 : 2001.02.23</p>
        <p>국제통상학과 20학번 / 통계학과 복전중</p>
        <p>MBTI : ESTJ</p>
        <p>쌍문동 거주</p>
        <p>취미 : 큐브맞추기 / 넷플릭스보기</p>
        <a href="https://www.youtube.com/watch?v=H8heXBOqBg4" class="cube"> 큐브맞추는방법</a>
      </div>
    
    </main>
  <style>
    .header{
    text-align : center;
}
.content{
    font-weight: 400px;
    text-align : center;
    margin-right : 10%;
    margin-left : 10%;
    margin-top: 4%;
    margin-bottom : 10%;
    border: 1px solid gray
}

.cube { text-decoration: none;}

p{color: rgb(255, 123, 0);}
  </style>
  



    
    {% endblock %}